body {
    background-image: url(backgroundhamburguer.webp);
    margin: 0; /* Remove a margem padrão do corpo */
}

.titulo-quadro {
    text-align: center;
    font-size: 28px;
    font-family: 'Luckiest Guy', cursive;
    margin-bottom: 20px; /* Adiciona um espaçamento inferior */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
}
.text-initial{
    font-family: 'Luckiest Guy', cursive;
    font-size: 18px;
    color: green;
    
}
.logo-container {
    display: flex;
    align-items: center; /* Centraliza os itens verticalmente */
}

.logo-img {
    width: 50px;
    height: auto;
    border-radius: 8px;
}

.logo-text {
    margin-left: 10px;
    font-weight: bold;
    font-size: 40px;
    color: rgb(126, 27, 113);
    font-family: 'Luckiest Guy', cursive;
}

.quadro {
    background-color: rgb(255, 251, 251);
    max-width: 600px; /* Defina o tamanho máximo desejado para o quadro */
    margin: auto; /* Adiciona margem automática para centralizar */
    padding: 20px;
    border-radius: 20px;
    margin-top: 100px;
}

.quadro h2 {
    text-align: center;
}

.produto, .lanche {
    width: 80%; /* Faça os produtos ocuparem 100% da largura do quadro */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; /* Adicione um espaçamento entre os produtos */
    background-color: rgb(255, 255, 255);
    display: flex;
    border-radius: 13px;
    border-width: 3px;
    border-color: rgb(219, 218, 155);
    border-style: solid;
   
}

.produto-img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;
}

.produto-title {
    margin-left: 30px;
    margin-top: auto;
    font-size: 2em;
    font-family: 'Luckiest Guy', cursive;
    color: rgb(126, 27, 113);
}

.produto-preco {
    color: green;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
    margin-top: 10px;
    font-family: 'Luckiest Guy', cursive;
}
.ingredientes{
    font-size: 16px;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.produto:hover, .lanche:hover {
    transform: scale(1.1);
}

